
<nav class="navbar  bar">
  <div class="container-fluid">
    <div>
    <a class="navbar-brand bar" href="#">#YoProgramo
      <img src="assets\images\APLogo-20-20.png" alt="Argentina programa" width="114" height="70">
    </a>
  </div>
  <div class="root">

      <ul class="icon-list">

        <li class="icon-item">

          <button *ngIf="editar" type="button" class="edit-btn"><i class="fa-solid fa-pen-to-square fa-xl"></i></button>
          <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="icon-item">
          <a href="#" class="icon-link"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="icon-item">
          <a href="#" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <a  class="btn" routerLink="/login"
         *ngIf="editar else logIn" (click)="logOut()">LogOut</a>
        <ng-template #logIn><a class="btn" >LogIn</a></ng-template>
      </ul>

  </div>
  </div>
</nav>

