
<nav class="navbar  bar">
  <div class="container-fluid">
    <div>
    <a class="navbar-brand bar" href="#">#YoProgramo
      <img src="assets\images\APLogo-20-20.png" alt="Argentina programa" width="114" height="70">
    </a>
  </div>
  <div class="root">

      <ul class="icon-list">

        <li class="icon-item">
          <button *ngIf="editar" type="button" class="edit-btn" (click)="openSocial()"><i class="fa-solid fa-pen-to-square fa-xl"></i></button>
          <a href={{social.instagram}} class="icon-link"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="icon-item">
          <a href={{social.gitHub}} class="icon-link"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="icon-item">
          <a href={{social.linkedIn}} class="icon-link"><i class="fab fa-linkedin-in"></i></a>
        </li>

        <a  class="btn" routerLink="/login"
         *ngIf="editar else logIn" (click)="logOut()">LogOut</a>
        <ng-template #logIn><a class="btn" routerLink="/login">LogIn</a></ng-template>
      </ul>

  </div>
  </div>
</nav>

<!--edit modal-->
<div
class="modal fade"
id="socialModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agrega tus redes social</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="form-signin" [formGroup]="socialForm" (ngSubmit)="editSocialSubmit(socialForm)">
        <div class="form-floating">
      <input formControlName="instagram" type="text" class="form-control" placeholder="Instagram" >
      <label for="floatingInput">Instagram</label>
    </div>
    <div class="form-floating">
      <input formControlName="gitHub" type="text" class="form-control" placeholder="GitHub">
      <label for="floatingInput">GitHub</label>
    </div>
    <div class="form-floating">
      <input formControlName="linkedIn"  type="text" class="form-control" placeholder="LinkedIn">
      <label for="floatingInput">LinkedIn</label>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-primary">
        Save changes
      </button>
    </div>
  </form>

  </div>
  </div>
</div>
</div>
