
<nav class="navbar  bar">
  <div class="container-fluid">
    <div>
    <a class="navbar-brand bar" href="#">#YoProgramo
      <img src="assets\images\APLogo-20-20.png" alt="Argentina programa" width="114" height="70">
    </a>
  </div>
  <div class="root">

      <ul class="icon-list">

        <li class="icon-item">
          <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="icon-item">
          <a href="#" class="icon-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="icon-item">
          <a href="#" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <a  class="btn" routerLink="/login"
         *ngIf="edit else logout ">Login</a>
        <ng-template #logout><a class="btn" routerLink="/login">LogOut</a></ng-template>
      </ul>

  </div>
  </div>
</nav>

