.bar {
  background-color: #1B2430;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #F6E3C5;

}
.root {
	--bg: #dcdde1;
	--color-icon:#F6E3C5;
	--social-icon1: #e4405f;
	--social-icon2: #3b5999;
	--social-icon3: #0077B5;
}
* {
	margin: 0;
	padding: 0;
}


.icon-list {
	width: 100%;
	max-width: 50rem;
	padding: 0 1.5rem;
	display: flex;
	justify-content: space-between;
}
.icon-item {
	list-style: none;
	&:nth-child(1) {
		a {
			&:hover {
				&:before {
					background: var(--social-icon1);
				}
			}
		}
	}
	&:nth-child(2) {
		a {
			&:hover {
				&:before {
					background: var(--social-icon2);
				}
			}
		}
	}
	&:nth-child(3) {
		a {
			&:hover {
				&:before {
					background: var(--social-icon3);
				}
			}
		}
	}
}
.icon-link {
	display: inline-flex;
	font-size: 2rem;
	text-decoration: none;
	color: var(--color-icon);
	width: 4rem;
	height: 4rem;
	transition: .5s linear;
	position: relative;
	z-index: 1;
	margin: auto;
	&:hover {
		color: #fff;
		&::before {
			transform: scale(1);
		}
	}
	i {
		margin: auto;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 4rem;
		height: 4rem;
		background: #000;
		border-radius: 50%;
		z-index: -1;
		transform: scale(0);
		transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
	}
}
.btn {
  color:  #F6E3C5;
  border: solid;
  font-weight: bold;
  font-size: 1.5rem;
margin-top: 5px;
border-radius: 5px;
height: 50px;
width: 91px;
}

.edit-btn {
  background-color: #1B2430;
  color: #76BA99;
}
.btn:hover {
  font-weight: bold;
color:#FFEF82
}
