<div class="educacion container ">
  <div class="row">
  <div class="col">
  <h3 class="inline">Educacion</h3>
  <button *ngIf="editar" class="btn-edit inline" type="button" (click)="openNewEdu()"><i class="fa-solid fa-circle-plus fa-xl"></i></button>
  </div>
  </div>

  <div *ngFor="let edu of educacion" class="row">

    <div class="col col-md-2">
   <img class="estudio" src={{edu.imagen}} alt="Imagen del instituto">
    </div>
   <div class="col col-md-10">
   <h5 class="inline">{{edu.titulo}}</h5>
   <button *ngIf="editar" class="btn-edit inline" type="button" (click)="openEditEdu(edu)"><i  class="fa-solid fa-pen-to-square fa-xl"></i></button>
   <button *ngIf="editar" class="btn-edit inline" type="button" (click)="openDeleteEdu(edu)"><i class="fa-solid fa-circle-xmark"></i></button>
   <h6>{{edu.fechaInicio}} - {{edu.fechaFin}}</h6>
   <p>{{edu.descripcion}}</p>
    </div>
  </div>
  </div>


<!--new modal-->
<div
class="modal fade"
id="newEduModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Datos de la educacion</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="form-signin" [formGroup]="newEduForm" (ngSubmit)="newEdu()">
        <div class="form-floating">
      <input formControlName="imagen" type="text" class="form-control" >
      <label for="floatingInput">Foto de la institucion</label>
    </div>
    <div class="form-floating">
      <input formControlName="titulo" type="text" class="form-control" >
      <label for="floatingInput">Titulo recibido</label>
    </div>
    <div class="form-floating">
      <input formControlName="fechaInicio"  type="text" class="form-control" >
      <label for="floatingInput">Fecha Inicio</label>
    </div>
    <div class="form-floating">
      <input formControlName="fechaFin"  type="text" class="form-control" >
      <label for="floatingInput">Fecha de finalización</label>
    </div>
    <div class="form-floating">
      <input formControlName="descripcion"  type="text" class="form-control">
      <label for="floatingInput">Tareas realizadas</label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="submit" class="btn btn-primary">
        Guardar cambios
      </button>
    </div>
  </form>

  </div>
  </div>
</div>
</div>

<!--Edit modal-->
<div
class="modal fade"
id="editEduModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar educacion</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="form-signin" [formGroup]="editEduForm" (ngSubmit)="editEdu(editEduForm)">
      <div class="form-floating">
    <input formControlName="imagen" type="text" class="form-control"   >
    <label for="floatingInput">Foto de la institucion</label>
  </div>
  <div class="form-floating">
    <input formControlName="titulo" type="text" class="form-control" >
    <label for="floatingInput">Titulo recibido</label>
  </div>
  <div class="form-floating">
    <input formControlName="fechaInicio"  type="text" class="form-control" >
    <label for="floatingInput">Fecha Inicio</label>
  </div>
  <div class="form-floating">
    <input formControlName="fechaFin"  type="text" class="form-control" >
    <label for="floatingPassword">Fecha de finalización</label>
  </div>
  <div class="form-floating">
    <input formControlName="descripcion"  type="text" class="form-control">
    <label for="floatingInput">Tareas realizadas</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cerrar
    </button>
    <button type="submit" class="btn btn-primary">
      Guardar cambios
    </button>
  </div>
</form>

</div>
</div>
</div>
</div>


<!--delete modal-->
<div
class="modal fade"
id="deleteEduModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Eliminar educacion</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="form-signin">

        <p>Estas seguro de borrar esta formacion de estudio</p>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="submit" (ngSubmit)="deleteEdu()" class="btn btn-primary">
         Guardar cambios
      </button>
    </div>
  </form>

  </div>
  </div>
</div>
</div>
