<div class="bodi">
  <form [formGroup]="buscarForm" (ngSubmit)="buscarUser()" class="form-signin">
    <img style="border-radius:5%" class="mb-4" src="assets\images\search.png" alt="" width="270" height="257">
    <h1 class="h3 mb-3 fw-normal">a quien estas buscando?</h1>

    <div class="form-floating">
      <input formControlName="mail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Mail</label>
      <p *ngIf="error" class="error">El mail ingresado es incorrecto o no pertenece a un usuario activo.</p>
      <span  class="error" *ngIf="!buscarForm.controls['mail'].valid && buscarForm.controls['mail'].touched">
        {{getErrorEmail()}}
      </span>
    </div>
    <p><a href="/register" class="register">No tenes una cuenta?</a></p>


    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!buscarForm.valid">Buscar</button>

  </form>
</div>
