  <div class="container section">
    <h3 class="inline">Proyectos</h3>
 <button  *ngIf="editar" class="btn-edit inline" type="button"  (click)="openNewProyecto()"><i class="fa-solid fa-circle-plus fa-xl"></i></button>
      <div class="carousel"  >

          <input *ngFor="let proyecto of proyectos, let i = index" type="radio" name="slides" checked="checked" id={{i}}>
          <ul class="carousel__slides">
              <li class="carousel__slide" *ngFor="let proyecto of proyectos" >
                  <figure>
                      <div>
                          <img src={{proyecto.imagen}} alt="">
                      </div>
                      <button *ngIf="editar" class="btn-edit inline" type="button" (click)="openEditProyecto(proyecto)"><i  class="fa-solid fa-pen-to-square fa-xl"></i></button>                       <button *ngIf="editar" class="btn-edit inline" type="button" (click)="openDeleteProyecto(proyecto)"><i class="fa-solid fa-circle-xmark"></i></button>
                      <figcaption>
                          {{proyecto.descripcion}}
                          <span class="credit">{{proyecto.titulo}}</span>
                      </figcaption>
                  </figure>
              </li>
          </ul>
          <ul class="carousel__thumbnails" >
              <li *ngFor="let proyecto of proyectos, let i = index">
                  <label for={{i}}><img src={{proyecto.imagen}} alt=""></label>
              </li>

          </ul>
      </div>
  </div>

<!--new modal-->
<div
class="modal fade"
id="newProyectoModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Datos del proyecto</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="form-signin" [formGroup]="newProyectoForm" (ngSubmit)="newProyecto()">
        <div class="form-floating">
      <input formControlName="titulo" type="text" class="form-control" placeholder="Titulo del proyecto" >
      <label for="floatingInput">Titulo del proyecto</label>
    </div>
    <div class="form-floating">
      <input formControlName="imagen" type="text" class="form-control" placeholder="Titulo recibido">
      <label for="floatingInput">Imagen del proyecto</label>
    </div>
    <div class="form-floating">
      <input formControlName="descripcion"  type="text" class="form-control" >
      <label for="floatingInput">Descripcion del proyecto</label>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="submit" class="btn btn-primary">
        Guardar cambios
      </button>
    </div>
  </form>

  </div>
  </div>
</div>
</div>

<!--Edit modal-->
<div
class="modal fade"
id="editProyectoModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar proyecto</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="form-signin" [formGroup]="newProyectoForm" (ngSubmit)="editProyecto()">
      <div class="form-floating">
    <input formControlName="imagen" type="text" class="form-control" placeholder="Foto de la empresa" >
    <label for="floatingInput">Fotos del Proyecto</label>
  </div>
  <div class="form-floating">
    <input formControlName="titulo" type="text" class="form-control" placeholder="Puesto de trabajo" >
    <label for="floatingInput">Titulo del Proyecto</label>
  </div>

  <div class="form-floating">
    <input formControlName="descripcion"  type="text" class="form-control" >
    <label for="floatingInput">Tareas realizadas</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cerrar
    </button>
    <button type="submit" class="btn btn-primary">
      Guardar cambios
    </button>
  </div>
</form>

</div>
</div>
</div>
</div>


<!--delete modal-->
<div
class="modal fade"
id="deleteProyectoModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Borrar proyecto</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="form-signin" >

        <p>Estas seguro de borrar este proyecto</p>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="submit" (ngSubmit)="deleteProyecto()" class="btn btn-primary">
        Guardar cambios
      </button>
    </div>
  </form>

  </div>
  </div>
</div>
</div>
