
<div class="container-fluid">
<h3 class="inline">Habilidades</h3>
<button  *ngIf="editar" class="btn-edit-light inline" type="button"  (click)="openskillsNew()"><i class="fa-solid fa-circle-plus fa-xl"></i></button>
  <div class="row" >
    <div class="col col-lg-3" *ngFor="let skill of skills ">
      <h4>{{skill.titulo}}</h4>


<div class="pie animate" [style.--p]="skill.nivel">{{skill.nivel}}%</div>
<button *ngIf="editar"  class="btn-edit-light" type="button" (click)="openSkillsDelete(skill)">
  <i class="fa-solid fa-circle-xmark"></i></button>
</div>
</div>

</div>

<!--new modal-->
<div
  class="modal fade"
  id="newSkillModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del puesto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form-signin" [formGroup]="newSkillForm" (ngSubmit)="newSkillSubmit()">

      <div class="form-floating">
        <input formControlName="titulo" type="text" class="form-control" placeholder="Habilidad">
        <label for="floatingInput">Habilidad</label>
      </div>
      <div class="form-floating">
        <input formControlName="nivel"  type="number" class="form-control" placeholder="Del 0 a 100">
        <label for="floatingInput">Porcentaje  de conocimiento</label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </form>

      </div>
    </div>
  </div>
</div>


<!--delete modal-->
<div
  class="modal fade"
  id="deleteSkillModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar habilidad</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

          <p>Estas seguro de borrar esta habilidad</p>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary" (click)="deleteSkillSubmit()">
          Guardar cambios
        </button>
      </div>

    </div>
    </div>
  </div>
</div>
