<div class="bg">
<div class="experiencia container ">
<div class="row">
<div class="col">
<h3 class="inline">Experiencias</h3><button class="btn-edit-light inline" type="button"  (click)="openNew()"><i class="fa-solid fa-circle-plus fa-xl"></i></button>
<div class="col">

</div>
</div>
</div>

<div *ngFor="let exp of experiencias" class="row">
  <div class="col col-md-2">
 <img class="trabajo" src= {{exp.imagen}} alt="">
  </div>
 <div class="col col-md-10 ">
 <h5 class="inline">{{exp.titulo}}</h5> <button *ngIf="editar" class="btn-edit-light" type="button" (click)="openEdit(exp)">
  <i  class="fa-solid fa-pen-to-square fa-xl"></i></button>
  <button *ngIf="editar" class="btn-edit-light" type="button" (click)="openDelete(exp)">
    <i class="fa-solid fa-circle-xmark"></i></button>
 <h6>{{exp.fechaI}} - {{exp.fechaF}}</h6>
 <p>{{exp.descripcion}} </p>
  </div>
</div>

<div class="row">
  <div class="col col-md-2">
 <img class="trabajo" src="assets\images\santander-group.jpg" alt="">
  </div>
 <div class="col col-md-10">
 <h5 class="inline">Representate de atencion al publico</h5>
 <button class="btn-edit-light"><i  class="fa-solid fa-pen-to-square fa-xl"></i></button>
  <button class="btn-edit-light" type="button"><i class="fa-solid fa-circle-xmark"></i></button>
 <p>Estuve cubriendo una licencia de maternidad, mi rol principal era
  ayudar a las personas a cumplir sus objetivos financieros en base
  a sus recursos. Así También como atraer nuevos clientes y
  mejorar la experiencia de los clientes con el banco.  </p>
  </div>

</div>
</div>
</div>

<!--new modal-->
<div
  class="modal fade"
  id="newModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del puesto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form-signin" [formGroup]="newForm" (ngSubmit)="newSubmit()">
          <div class="form-floating">
        <input formControlName="imagen" type="text" class="form-control" placeholder="Foto de la empresa" >
        <label for="floatingInput">Foto de la empresa</label>
      </div>
      <div class="form-floating">
        <input formControlName="titulo" type="text" class="form-control" placeholder="Puesto de trabajo">
        <label for="floatingInput">Puesto de trabajo</label>
      </div>
      <div class="form-floating">
        <input formControlName="fechaI"  type="text" class="form-control" >
        <label for="floatingInput">Fecha Inicio</label>
      </div>
      <div class="form-floating">
        <input formControlName="fechaF"  type="text" class="form-control" >
        <label for="floatingPassword">Fecha de finalización</label>
      </div>
      <div class="form-floating">
        <input formControlName="descripcion"  type="text" class="form-control">
        <label for="floatingInput">Tareas realizadas</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </form>

    </div>
    </div>
  </div>
</div>

<!--Edit modal-->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar puesto</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="form-signin" [formGroup]="editForm" (ngSubmit)="editSubmit()">
        <div class="form-floating">
      <input formControlName="imagen" type="text" class="form-control" placeholder="Foto de la empresa" [(value)]="editData.imagen" >
      <label for="floatingInput">Foto de la empresa</label>
    </div>
    <div class="form-floating">
      <input formControlName="titulo" type="text" class="form-control" placeholder="Puesto de trabajo" [(value)]="editData.titulo">
      <label for="floatingInput">Puesto de trabajo</label>
    </div>
    <div class="form-floating">
      <input formControlName="fechaI"  type="text" class="form-control" [(value)]="editData.fechaI">
      <label for="floatingInput">Fecha Inicio</label>
    </div>
    <div class="form-floating">
      <input formControlName="fechaF"  type="text" class="form-control" [(value)]="editData.fechaF">
      <label for="floatingPassword">Fecha de finalización</label>
    </div>
    <div class="form-floating">
      <input formControlName="descripcion"  type="text" class="form-control" [(value)]="editData.descripcion">
      <label for="floatingInput">Tareas realizadas</label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-primary">
        Save changes
      </button>
    </div>
  </form>

  </div>
  </div>
</div>
</div>


<!--delete modal-->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos de Usuario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form-signin" [formGroup]="deleteForm" (ngSubmit)="deleteSubmit()">

          <p>Estas seguro de borrar este puesto de trabajo</p>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </form>

    </div>
    </div>
  </div>
</div>
