.bg {
  background-color: #1B2430;
 color: #FFFFFF;
}

.experiencia {
  padding: 50px 0px;
margin-top: 10%;

}
.trabajo {
  width: 100px;
  height: 100px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.row {
margin-bottom: 3%;
}
.inline {
display: inline-flex;

}
.btn-edit-light{

    background-color: #1B2430;
    height:0px;
    width:0px;
    margin:15px;
    border: 0px;
    color: #ffff
}
