<div class="bg">
<div class="experiencia container ">
<div class="row">
<div class="col">
<h3>Experiencias</h3>
</div>
</div>

<div class="row">

  <div class="col col-md-2">
 <img class="trabajo" src="assets\images\santander-group.jpg" alt="">
  </div>
 <div class="col col-md-10">
 <h5>Representate de atencion al publico</h5>
 <p>Estuve cubriendo una licencia de maternidad, mi rol principal era
  ayudar a las personas a cumplir sus objetivos financieros en base
  a sus recursos. Así También como atraer nuevos clientes y
  mejorar la experiencia de los clientes con el banco.  </p>
  </div>
</div>
<div class="row">

  <div class="col col-md-2">
 <img class="trabajo" src="assets\images\santander-group.jpg" alt="">
  </div>
 <div class="col col-md-10">
 <h5>Representate de atencion al publico</h5>
 <p>Estuve cubriendo una licencia de maternidad, mi rol principal era
  ayudar a las personas a cumplir sus objetivos financieros en base
  a sus recursos. Así También como atraer nuevos clientes y
  mejorar la experiencia de los clientes con el banco.  </p>
  </div>
</div>
</div>
</div>
