<div class=" container-fluid banner">
  <img *ngIf="acercaDe.banner != null else bannerBasico"
   src={{acercaDe.banner}} alt="arrozal" >
   <ng-template #bannerBasico><img
    src="https://thumbs.dreamstime.com/z/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
    alt=""></ng-template>
</div>

<div class="container">
  <img class="photo"
 *ngIf="acercaDe.photo != null else fotoBasica" src={{acercaDe.photo}} alt="" width="250" height="250">
 <ng-template #fotoBasica><img class="photo"
  src="https://thumbs.dreamstime.com/z/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
  alt="" width="250" height="250"></ng-template>
</div>

<div class=" container">
  <div class="row">
    <div class="col col-md-4 col-12 perfil">
        <h3>{{usuario.nombre}} <button  class="btn-edit"><i class="fa-solid fa-pen-to-square fa-xl"></i></button></h3>
      </div>
    <div class="col col-md-8 col-12 info">
      <h3>Acerca de mi</h3>
    <p>{{acercaDe.descripcion}} </p>
  </div>
    </div>
</div>
